.flex-container{
    width: 1490px;
    height: 700px;
    background-color: rgba(127, 253, 255, 0.934);
    position: relative;
    color:white;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
    padding: 10px;
    /* padding-bottom: 20px;  */
}
.header{
    height: 50px;
    width: 1430px;
    background-color: rgb(7, 212, 208);
    margin: 20px;
    align-items: center;
    justify-content:center;
    padding-top: 15px;
}
.center{
    height: 510px;
    width: 1480px;
    justify-content:center;
    display: flex;
}
.center-aside{
    height: 260px;
    width: 340px;
    margin: 20px;
    background-color: rgb(162, 231, 132);
    padding-top: 210px;
}
.center-article{
    height: 320px;
    width: 1130px;
    margin: 20px;
    margin-right: 30px;
    background-color: rgb(239, 173, 98);
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    justify-content: center;
    padding-top: 150px;
}
.center-image{
    justify-content:space-between;
    display: flex; 
    height: 250px;
    width: 1130px;
}
.a-image{
    height: 160px;
    width: 210px;
    margin: 20px;
    background-color: rgb(237, 221, 81);
    padding-top: 50px;
}
.footer{
    height: 50px;
    width: 1430px;
    background-color: rgb(7, 212, 208);
    margin:20px;
    align-items: center;
    padding-top: 15px;
} 